{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--<div class="jumbotron text-center">
    <h1 id="mainTitle">{{object.header}}</h1>
  </div>-->


<div class="col space-bottom mt-4">
    <div type="date" class="text-muted to-right-font-20px">{{object.date}}</div>
    <div class="text-muted to-left-font-24px">World</div>
</div>

{% if  request.user.is_authenticated == True %}
<!--Buttons for the admin-->
<div class="row d-flex justify-content-center mb-5">
    <div class="btn-group">
        <button class="btn edit btn-info">
            <a id="edit" 
                class="stretched-link btn-text"
                href="{% url 'edit_page' %}">

                <i class="fas fa-edit"></i>Редагувати
            </a>
        </button>

    {% if  object.fixed_to_top == False %}
        <button class="btn cancel btn-danger ml-2">
            <a id="delete"
                class="stretched-link btn-text"
                href="#">
                
                <i class="fas fa-trash-alt"></i> Видалити
            </a>
        </button>
    {% endif %}

    </div>
</div>
{% endif %}


<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto article-text">
                <h1 class="mb-5 text-center">{{object.header}}</h1>

                {% if object.text == None or object.text == "" %}
        
                    <div class="container mt-5">
                        <div class="col-md-12 text-center">
                            <span class="display-1 d-block">Ой! :(</span>
                            <div class="mb-4 lead">Ця сторінка ще не заповнена</div>
                            <a href="/" class="btn btn-link">Повернутися на головну</a>
                        </div>
                    </div>

                {% else %}
                
                    <hr class="new5 mb-5">

                    {{object.text}}

                {% endif %}

            </div>
        </div>
    </div>
</article>

{% endblock content %}