{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- CONTENT -->
{% if  request.user.is_authenticated == True %}
<div class="content">
    <!--Add a post button for the admin-->
    <a type="button" class="btn btn-secondary btn-lg btn-block mt-3" href="edit/">
        <i class="fas fa-plus"></i>
        Новый пост
    </a>

</div>
{% endif %}


<!--List of posts-->
<div class="col mt-3">
    {% for article in object_list %}

        <div class="row
                    no-gutters
                    border
                    rounded
                    overflow-hidden
                    flex-md-row mb-4
                    shadow-sm h-md-250
                    position-relative">
            
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{article.category}}</strong>
                <h3 class="mb-0">{{article.header}}</h3>
                <div class="mb-1 text-muted">{{article.date}}</div>
                <p class="card-text mb-auto">{{article.text}}</p>
                <a class="stretched-link" href="{{ article.get_absolute_url }}">Переглянути пост</a>
            </div>
        </div>

    {% empty %}
    <div class="container mt-5">
        <div class="col-md-12 text-center">
            <span class="display-1 d-block">Помилка</span>
            <div class="mb-4 lead">В цьому роздiлi ще немає статей</div>
            <a href="/" class="btn btn-link">Повернутися на головну</a>
        </div>
    </div>

    {% endfor %}

</div>
<!--End of list of posts-->

{% endblock %}