{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
    <div class="row mt-4 mb-2">

        <div class="col">
            <div class="text-muted to-left-font-22px">
                <i class="fa fa-home fa-1x" aria-hidden="true"></i> {% if object.category %} → {{object.get_category}} {% endif %} → {{object.header}}
            </div>

        </div>

        {% if request.user.is_authenticated == True %}
        <!--Buttons for the admin-->
        <div class="col  justify-content-center">
            <div class="btn-group to-right">
                <a id="edit" class="stretched-link btn-text" href="{% url 'edit_page' object.slug %}">
                    <button class="btn edit btn-info">
                
                        <i class="fas fa-edit"></i> Редагувати
                    </button>
                </a>

                {% if object.fixed_to_top == False %}
                <a id="delete" class="stretched-link btn-text">
                    <button class="btn cancel btn-danger ml-2" data-toggle="modal" data-target="#exampleModal">

                        <i class="fas fa-trash-alt"></i> Видалити
                    </button>
                </a>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h5 class="modal-title" id="exampleModalLabel">Ви впевнені?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                            </div>

                            <div class="modal-body">
                                Підтвердіть <u>видалення</u> статті:<br><br>
                                <h3><i>{{object.header}}</i></h3>
                            </div>

                            <div class="modal-footer mt-1">

                                <form action="" method="POST">{% csrf_token %}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            <i class="fas fa-times"></i> Скасувати
                                        </button>
                                    </button>

                                    <button type="submit" class="btn btn-default btn-danger ml-1" name="delete">
                                        <i class="fas fa-trash-alt"></i> Видалити
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>


        </div>
        {% endif %}


    </div>

    <div class="row article-text">
        <div class="col mb-3">
            <h1 class="text-center">{{object.header}}</h1>
        </div>
    </div>
    <div class="row">
        <div type="date" class="col mb-1 text-center text-muted">
            опубліковано {{object.date}}
        </div>
    </div>
    <hr class="new5 mb-5">


    <article>

        {% if object.text == None or object.text == "" %}

        <!-- EMPTY ERROR -->
        <div class=" article-text">

            <div class="container mt-5">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">Ой! :(</span>
                    <div class="mb-4 lead">Ця сторінка ще не заповнена</div>
                    <a href="/" class="btn btn-link">Повернутися на головну</a>
                </div>
            </div>
        </div>

        {% else %}

        <div class="container">
            <div class="article-text">

                <div class="row">
                    <div class="col-md-9 blog-main panel-heading">

                        {{ object.text | safe }}

                        
                        <div type="date" class="mt-2 text-muted">
                            остання редакція {{object.edit_date}}
                        </div>
                        
                    </div>

                    <aside class="col-md-3 blog-sidebar">

                        <div class="p-3 mb-3 bg-light rounded">
                            <h4>Останні новини:</h4>
                            {% for article in articles %} {% if article.header != object.header %}
                            <hr>
                            <div type="date" class="text-muted mt-4 mb-1 small-date">{{article.date}}</div>
                            <a class="dark-blue" href="{% url 'article' article.slug %}">{{article.header}}</a> {% endif %} {% endfor %}
                        </div>

                    </aside>
                </div>
            </div>
        </div>
</div>

{% endif %}

</article>
</div>

{% endblock content %}