{% extends '_base.html' %}
{% load static %}
{% block content %}


<!-- The name of the post input-->
<div class="input-group input-group-lg mt-5">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Назва посту</span>
    </div>
    <input type="text" 
            class="form-control"
            aria-label="Large"
            aria-describedby="inputGroup-sizing-sm"
            value="{{article.header}}">

        <div class="dropdown-menu">
            <!-- TODO: в жанговские линки -->
            <a class="dropdown-item" href="#">Назва1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Додати новий розділ</a>
        </div>
    </div>


    <button id="save" class="btn btn-success"><a class="btn-text"><i class="fas fa-save"></i> Зберегти</a></button>
    <button  id="cancel" class="btn btn-danger"><a class="btn-text"><i class="fas fa-times"></i> Скасувати</a></button>
</div>

<!--Buttons for the admin-->



<div class="summernote" id="summernote"></div>
<script>
    $('#summernote').summernote({
        placeholder: 'Hello Bootstrap 4',
        tabsize: 2,
        height: 500
    });
    var HTMLstring = "{{article.text}}";
    $('#summernote').summernote('pasteHTML', HTMLstring);
</script>

{% endblock %}