{% extends '_base.html' %}
{% load static %}
{% block content %}


<!--<div class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{article.header}}</h1>
                    <span class="subheading">{{article.header}}</span>
                </div>
            </div>
        </div>
    </div>
</div>-->

<!--<div class="jumbotron text-center">
    <h1 id="mainTitle">{{article.header}}</h1>
  </div>-->


<div class="col space-bottom mt-4">
    <div type="date" class="text-muted to-right-font-20px">{{article.date}}</div>
    <div class="text-muted to-left-font-24px">World</div>
</div>


<!--Buttons for the admin-->
<div class="row d-flex justify-content-center mb-5">
    <div class="btn-group">
        <button class="btn edit btn-info"><a id="edit" class="stretched-link btn-text" href="{% url 'edit_page' %}"><i class="fas fa-edit"></i> Редагувати</a></button>
        <button class="btn cancel btn-danger ml-2"><a id="delete" class="stretched-link btn-text" href="#"><i class="fas fa-trash-alt"></i> Видалити</a></button> <!-- link -->
    </div>
</div>


<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="mb-5 text-center">{{article.header}}</h2>

                <hr class="new5 mb-5">

                {{article.text}}

            </div>
        </div>
    </div>
</article>

{% endblock %}